a, button{
    background-color: lightgrey;
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    border: none;
}
a:hover,button:hover{
    background-color: black;
    color: white;
}
.proposition, .recipes{
    margin-bottom: 5px;
    width: 50%;
    display: block;
    padding: 10px;
    background-color: white;
}